body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h1
{
	font-size: 36px;
}

h2
{
	font-size: 32px;
}

h3
{
	font-size: 28px;
}

h4
{
	font-size: 24px;
}

h5
{
	font-size: 18px;
}

h6
{
	font-size: 14px;
}