html {
	height: 100%;
}
body {
	font-family: Arial;
	height: 100%;
	margin: 0px;
}
a {
	color: red;
}
img {
	float: right;
	width: 200px;
}
p span
{
	font-weight: bold;
}
.header {
	background-color: #99B5DD;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	padding: 0px 10px;
	font-size: 50px;
	z-index: 10;
}
.content {
	height: 200px;
	position: absolute;
	top: 60px;
	padding: 10px;
	z-index: 0;
}
.footer {
	background-color: #0F215D;
	position: fixed;
	bottom: 0px;
	height: 60px;
	width: 100%;
	z-index: 10;
}